body{
    background-color: darkslategrey;
}
.first{
    background-color: chocolate;
    border-radius: 20px;
    color: bisque;
}
h1,
h2{
text-align: center;
}
.second{
    background-color: antiquewhite;
    align-items: center;
    border-radius: 10px;
}
#sub{
    background-color: rgb(124, 42, 12);
    color: bisque;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.third{
    background-color: chocolate;
    border-radius: 20px;
}
img{
    padding-left: 550px;
    flex: auto;
}
hr{
    border: solid darkslategrey;
   
}
